In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import seaborn as sns
import math
import re

In [1]:
import os

# Specify the path of the directory you want to list
directory_path = './datasets/'

# Get the list of files in the directory
files = os.listdir(directory_path)

# Print the list of files
for file in files:
    print(file)

.ipynb_checkpoints
1. unemployment-rate-men-vs-women.csv
2. national-strategy-for-youth-employment.csv
3. share-of-education-in-government-expenditure.csv
4. share-of-the-population-with-access-to-electricity.csv
5. Total_firms_Historical_data.csv
5. Total_firms_Historical_data.xlsx
6. Country Codes.csv
rough_work.ipynb

In [9]:
unemployment_rate = pd.read_csv("./datasets/1. unemployment-rate-men-vs-women.csv")
national_strategy = pd.read_csv("./datasets/2. national-strategy-for-youth-employment.csv")
education = pd.read_csv("./datasets/3. share-of-education-in-government-expenditure.csv")
electricity = pd.read_csv("./datasets/4. share-of-the-population-with-access-to-electricity.csv")
firms_and_businesses = pd.read_excel("./datasets/5. Total_firms_Historical_data.xlsx")
country_codes = pd.read_csv("./datasets/6. Country Codes.csv")

In [10]:
unemployment_rate.head()

,Entity,Code,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1991,13.615,10.089,10745168.0,NaN
2,Afghanistan,AFG,1992,13.816,10.258,12057436.0,NaN
3,Afghanistan,AFG,1993,13.712,10.165,14003764.0,NaN
4,Afghanistan,AFG,1994,13.722,10.170,15455560.0,NaN

In [11]:
unemployment_rate.describe()

,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates)
count,58578.000000,6231.000000,6231.000000,5.825200e+04
mean,1603.516542,9.460057,7.567807,4.901082e+07
std,1424.962569,7.613245,5.688615,2.925549e+08
min,-10000.000000,0.149000,0.052000,0.000000e+00
25%,1832.000000,4.052500,3.612000,1.460840e+05
50%,1901.000000,6.908000,5.890000,1.388504e+06
75%,1966.000000,12.771000,10.037500,6.600998e+06
max,2021.000000,47.183000,36.963000,7.909295e+09

In [12]:
unemployment_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58578 entries, 0 to 58577
Data columns (total 7 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Entity                                                                 58578 non-null  object
 1   Code                                                                   55049 non-null  object
 2   Year                                                                   58578 non-null  int64
 3   Unemployment, female (% of female labor force) (modeled ILO estimate)  6231 non-null   float64
 4   Unemployment, male (% of male labor force) (modeled ILO estimate)      6231 non-null   float64
 5   Population (historical estimates)                                      58252 non-null  float64
 6   Continent                                                              285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.1+ MB

In [13]:
unemployment_rate.shape

(58578, 7)

In [20]:
unemployment_rate.isna().sum()

Entity                                                                       0
Code                                                                      3529
Year                                                                         0
Unemployment, female (% of female labor force) (modeled ILO estimate)    52347
Unemployment, male (% of male labor force) (modeled ILO estimate)        52347
Population (historical estimates)                                          326
Continent                                                                58293
dtype: int64

In [69]:
mask_unemployment = unemployment_rate[~unemployment_rate["Unemployment, female (% of female labor force) (modeled ILO estimate)"].isnull()]
mask_unemployment.head()

,Entity,Code,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates),Continent
1,Afghanistan,AFG,1991,13.615,10.089,10745168.0,NaN
2,Afghanistan,AFG,1992,13.816,10.258,12057436.0,NaN
3,Afghanistan,AFG,1993,13.712,10.165,14003764.0,NaN
4,Afghanistan,AFG,1994,13.722,10.170,15455560.0,NaN
5,Afghanistan,AFG,1995,14.235,10.610,16418911.0,NaN

In [70]:
mask_unemployment.shape

(6231, 7)

In [71]:
mask_unemployment["Entity"].nunique()

201

In [72]:
mask_unemployment.columns

Index(['Entity', 'Code', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)', 'Continent'],
      dtype='object')

In [73]:
country_codes.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'region', 'sub-region'], dtype='object')

In [74]:
mask_unemployment = pd.merge(mask_unemployment, country_codes[['name', 'region', 'sub-region']], left_on="Entity", right_on='name', how='left')
mask_unemployment.head()

,Entity,Code,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates),Continent,name,region,sub-region
0,Afghanistan,AFG,1991,13.615,10.089,10745168.0,NaN,Afghanistan,Asia,Southern Asia
1,Afghanistan,AFG,1992,13.816,10.258,12057436.0,NaN,Afghanistan,Asia,Southern Asia
2,Afghanistan,AFG,1993,13.712,10.165,14003764.0,NaN,Afghanistan,Asia,Southern Asia
3,Afghanistan,AFG,1994,13.722,10.170,15455560.0,NaN,Afghanistan,Asia,Southern Asia
4,Afghanistan,AFG,1995,14.235,10.610,16418911.0,NaN,Afghanistan,Asia,Southern Asia

In [75]:
mask_unemployment.columns

Index(['Entity', 'Code', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)', 'Continent', 'name', 'region',
       'sub-region'],
      dtype='object')

In [76]:
mask_unemployment = mask_unemployment[['Entity', 'Code', 'region', 'sub-region', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)']]
mask_unemployment.rename(columns={'Entity': 'country', 'Code': 'code', 'Year': 'year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)': 'female_unemployment',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)': 'male_unemployment',
       'Population (historical estimates)': 'population', 'region': 'continent'}, inplace=True)
mask_unemployment.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_18076\2613068579.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mask_unemployment.rename(columns={'Entity': 'country', 'Code': 'code', 'Year': 'year',

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0

In [77]:
mask_unemployment_africa = mask_unemployment[mask_unemployment["continent"] == "Africa"]

In [79]:
mask_unemployment_africa = mask_unemployment_africa.reset_index()

In [82]:
mask_unemployment_africa.columns

Index(['index', 'country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population'],
      dtype='object')

In [101]:
mask_unemployment_world = mask_unemployment[mask_unemployment["continent"] != "Africa"]
mask_unemployment_world.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0

In [99]:
national_strategy.columns

Index(['Entity', 'Code', 'Year',
       '8.b.1 - Existence of a developed and operationalized national strategy for youth employment, as a distinct strategy or as part of a national employment strategy - SL_CPA_YEMP'],
      dtype='object')

In [108]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population', 'Entity',
       'Year', 'national_strategy'],
      dtype='object')

In [190]:
temp = mask_unemployment.merge(
    national_strategy[['Entity', 'Year',
       '8.b.1 - Existence of a developed and operationalized national strategy for youth employment, as a distinct strategy or as part of a national employment strategy - SL_CPA_YEMP']], left_on=["country", "year"],
    right_on=["Entity", "Year"], how="left")
temp = temp.rename(columns={'8.b.1 - Existence of a developed and operationalized national strategy for youth employment, as a distinct strategy or as part of a national employment strategy - SL_CPA_YEMP': "national_strategy"})
temp = temp[['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population', 'Entity',
       'Year', 'national_strategy']]
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,Entity,Year,national_strategy
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN,NaN

In [191]:
temp.shape

(6231, 11)

In [192]:
national_strategy.shape

(363, 4)

In [193]:
temp = temp[['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population', 'national_strategy']]
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN

In [194]:
education.columns

Index(['Entity', 'Code', 'Year',
       'Government expenditure on education, total (% of government expenditure)'],
      dtype='object')

In [195]:
unemployment_rate.columns

Index(['Entity', 'Code', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)', 'Continent'],
      dtype='object')

In [196]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy'],
      dtype='object')

In [197]:
temp = temp.merge(education[['Entity', 'Year',
       'Government expenditure on education, total (% of government expenditure)']],
                 left_on=["country", "year"], right_on=["Entity", "Year"], how="left")
temp = temp.rename(columns={'Government expenditure on education, total (% of government expenditure)': 'education_expenditure'})
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy,Entity,Year,education_expenditure
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN,NaN,NaN

In [198]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy', 'Entity', 'Year', 'education_expenditure'],
      dtype='object')

In [199]:
temp = temp[['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy', 'education_expenditure']]
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy,education_expenditure
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN

In [200]:
electricity.columns

Index(['Entity', 'Code', 'Year', 'Access to electricity (% of population)'], dtype='object')

In [201]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy', 'education_expenditure'],
      dtype='object')

In [202]:
temp = temp.merge(electricity[['Entity', 'Code', 'Year', 'Access to electricity (% of population)']],
                 left_on=["country", "year"], right_on=["Entity", "Year"], how="left")
temp = temp.rename(columns={'Access to electricity (% of population)': 'electricity_access'})
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy,education_expenditure,Entity,Code,Year,electricity_access
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy', 'education_expenditure', 'Entity', 'Code', 'Year',
       'electricity_access'],
      dtype='object')

In [204]:
temp = temp[['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy', 'education_expenditure', 'electricity_access']]
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy,education_expenditure,electricity_access
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN,NaN

In [205]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6231 entries, 0 to 6230
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                6231 non-null   object
 1   code                   5828 non-null   object
 2   continent              5146 non-null   object
 3   sub-region             5146 non-null   object
 4   year                   6231 non-null   int64
 5   female_unemployment    6231 non-null   float64
 6   male_unemployment      6231 non-null   float64
 7   population             5952 non-null   float64
 8   national_strategy      278 non-null    float64
 9   education_expenditure  3626 non-null   float64
 10  electricity_access     5326 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 535.6+ KB

In [206]:
firms_and_businesses.columns

Index(['Economy', 'Adult population', 'Year', 'limited_liability_companies',
       'business_density_rate'],
      dtype='object')

In [207]:
firms_and_businesses = firms_and_businesses.rename(
    columns={'TOTAL Number of \nLimited Liability Companies': 'limited_liability_companies',
            'Total business density rate': 'business_density_rate'})
firms_and_businesses.head()

,Economy,Adult population,Year,limited_liability_companies,business_density_rate
0,Afghanistan,14039528.0,2009.0,4289.0,0.305495
1,Afghanistan,14444996.0,2010.0,9048.0,0.626376
2,Afghanistan,15041824.0,2011.0,12793.0,0.850495
3,Afghanistan,15743958.0,2012.0,16350.0,1.038494
4,Afghanistan,16519812.0,2013.0,19541.0,1.182883

In [208]:
print(list(firms_and_businesses["Economy"].unique()))

['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain*', 'Bangladesh', 'Belarus', 'Belgium', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil ', 'Brunei Darussalam', 'Bulgaria', 'Cambodia', 'Chile', 'China***', 'Colombia', 'Congo, Dem. Rep.', 'Cook Islands*', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominica*', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Greece', 'Grenada*', 'Hong Kong SAR, China*', 'Hungary', 'Iceland', 'India', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man*', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Korea, Rep.', 'Kosovo', 'Kyrgyz Republic', 'Latvia', 'Lesotho', 'Liechtenstein*', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania', 'Mauritius*', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Myanmar', 'Nepal', 'Netherlands Antilles', 'New Zealand', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama*', 'Peru', 'Philippines*', 'Poland', 'Portugal', 'Puerto Rico', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore*', 'Slovak Republic', 'Slovenia', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan, China', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu*', 'Zambia', 'Zimbabwe', nan, '* This economy was included in the Eurostat List of offshore financial centres.', '** For Canada, only the data for Quebec and Ontario were included.', '***For China, only the data for Beijing and Shanghai were included.']

In [209]:
print(list(temp["country"].unique()))

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'East Asia and Pacific (WB)', 'East Timor', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe and Central Asia (WB)', 'European Union (27)', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latin America and Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low-income countries', 'Lower-middle-income countries', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Middle East and North Africa (WB)', 'Middle-income countries', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America (WB)', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Asia (WB)', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Virgin Islands', 'Upper-middle-income countries', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'World', 'Yemen', 'Zambia', 'Zimbabwe']

In [210]:
firms_and_businesses["Economy"] = firms_and_businesses["Economy"].replace({'*': ''})
print(list(firms_and_businesses["Economy"].unique()))

['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain*', 'Bangladesh', 'Belarus', 'Belgium', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil ', 'Brunei Darussalam', 'Bulgaria', 'Cambodia', 'Chile', 'China***', 'Colombia', 'Congo, Dem. Rep.', 'Cook Islands*', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Dominica*', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Greece', 'Grenada*', 'Hong Kong SAR, China*', 'Hungary', 'Iceland', 'India', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man*', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Korea, Rep.', 'Kosovo', 'Kyrgyz Republic', 'Latvia', 'Lesotho', 'Liechtenstein*', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania', 'Mauritius*', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Myanmar', 'Nepal', 'Netherlands Antilles', 'New Zealand', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama*', 'Peru', 'Philippines*', 'Poland', 'Portugal', 'Puerto Rico', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore*', 'Slovak Republic', 'Slovenia', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan, China', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu*', 'Zambia', 'Zimbabwe', nan, '* This economy was included in the Eurostat List of offshore financial centres.', '** For Canada, only the data for Quebec and Ontario were included.', '***For China, only the data for Beijing and Shanghai were included.']

In [211]:
historical = pd.read_csv("./datasets/5. Total_firms_Historical_data.csv")
historical.head()

,Economy,Adult population,Year,TOTAL Number of \nLimited Liability Companies,Total business density rate
0,Afghanistan,"14,039,528",2009.0,"4,289",0.31
1,Afghanistan,"14,444,996",2010.0,"9,048",0.63
2,Afghanistan,"15,041,824",2011.0,"12,793",0.85
3,Afghanistan,"15,743,958",2012.0,"16,350",1.04
4,Afghanistan,"16,519,812",2013.0,"19,541",1.18

In [212]:
historical.tail()

,Economy,Adult population,Year,TOTAL Number of \nLimited Liability Companies,Total business density rate
1491,Zimbabwe,"8,185,716",2020.0,"230,256",28.13
1492,NaN,NaN,NaN,NaN,NaN
1493,This economy was included in the Eurostat Lis...,NaN,NaN,NaN,NaN
1494,"For Canada, only the data for Quebec and Onta...",NaN,NaN,NaN,NaN
1495,"For China, only the data for Beijing and Shang...",NaN,NaN,NaN,NaN

In [213]:
historical.columns

Index(['Economy', 'Adult population', ' Year ',
       'TOTAL Number of \nLimited Liability Companies',
       'Total business density rate'],
      dtype='object')

In [214]:
historical = historical.rename(
    columns={'Economy': 'economy', 'Adult population': 'adult_population', ' Year ': 'year',
       'TOTAL Number of \nLimited Liability Companies': 'limited_liability_companies',
       'Total business density rate': 'business_density_rate'}
)
print(historical.columns)
historical.head()

Index(['economy', 'adult_population', 'year', 'limited_liability_companies',
       'business_density_rate'],
      dtype='object')

,economy,adult_population,year,limited_liability_companies,business_density_rate
0,Afghanistan,"14,039,528",2009.0,"4,289",0.31
1,Afghanistan,"14,444,996",2010.0,"9,048",0.63
2,Afghanistan,"15,041,824",2011.0,"12,793",0.85
3,Afghanistan,"15,743,958",2012.0,"16,350",1.04
4,Afghanistan,"16,519,812",2013.0,"19,541",1.18

In [215]:
temp = temp.merge(historical[['economy', 'adult_population', 'year', 'limited_liability_companies',
       'business_density_rate']],
                 left_on=["country", "year"], right_on=["economy", "year"], how="left")
temp = temp.drop(columns=['economy'])
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy,education_expenditure,electricity_access,adult_population,limited_liability_companies,business_density_rate
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
temp.to_csv("cleaned_unemployment_dataset.csv")

In [217]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy', 'education_expenditure', 'electricity_access',
       'adult_population', 'limited_liability_companies',
       'business_density_rate'],
      dtype='object')

In [223]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6231 entries, 0 to 6230
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      6231 non-null   object
 1   code                         5828 non-null   object
 2   continent                    5146 non-null   object
 3   sub-region                   5146 non-null   object
 4   year                         6231 non-null   int64
 5   female_unemployment          6231 non-null   float64
 6   male_unemployment            6231 non-null   float64
 7   population                   5952 non-null   float64
 8   national_strategy            278 non-null    float64
 9   education_expenditure        3626 non-null   float64
 10  electricity_access           5326 non-null   float64
 11  adult_population             1316 non-null   object
 12  limited_liability_companies  1316 non-null   object
 13  business_density_rate        1316 non-null   float64
dtypes: float64(7), int64(1), object(6)
memory usage: 681.6+ KB

In [222]:
continent_summary = temp[['continent',
       'female_unemployment', 'male_unemployment', 'population', 'education_expenditure'
                          , 'electricity_access',
       'adult_population',
       'business_density_rate']].groupby("continent", dropna=True).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [224]:
temp1 = temp.dropna(subset=["continent", "sub-region"], how="all")
print(temp1.shape)
temp1.head()

(5146, 14)

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy,education_expenditure,electricity_access,adult_population,limited_liability_companies,business_density_rate
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
temp1.to_csv("cleaned.csv")