In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import seaborn as sns
import math
import re

In [2]:
import os

# Specify the path of the directory you want to list
directory_path = './datasets/'

# Get the list of files in the directory
files = os.listdir(directory_path)

# Print the list of files
for file in files:
    print(file)

1. unemployment-rate-men-vs-women.csv
2. national-strategy-for-youth-employment.csv
3. share-of-education-in-government-expenditure.csv
4. share-of-the-population-with-access-to-electricity.csv
5. Total_firms_Historical_data.xlsx
6. Country Codes.csv

In [9]:
unemployment_rate = pd.read_csv("./datasets/1. unemployment-rate-men-vs-women.csv")
national_strategy = pd.read_csv("./datasets/2. national-strategy-for-youth-employment.csv")
education = pd.read_csv("./datasets/3. share-of-education-in-government-expenditure.csv")
electricity = pd.read_csv("./datasets/4. share-of-the-population-with-access-to-electricity.csv")
firms_and_businesses = pd.read_excel("./datasets/5. Total_firms_Historical_data.xlsx")
country_codes = pd.read_csv("./datasets/6. Country Codes.csv")

In [10]:
unemployment_rate.head()

,Entity,Code,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1991,13.615,10.089,10745168.0,NaN
2,Afghanistan,AFG,1992,13.816,10.258,12057436.0,NaN
3,Afghanistan,AFG,1993,13.712,10.165,14003764.0,NaN
4,Afghanistan,AFG,1994,13.722,10.170,15455560.0,NaN

In [11]:
unemployment_rate.describe()

,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates)
count,58578.000000,6231.000000,6231.000000,5.825200e+04
mean,1603.516542,9.460057,7.567807,4.901082e+07
std,1424.962569,7.613245,5.688615,2.925549e+08
min,-10000.000000,0.149000,0.052000,0.000000e+00
25%,1832.000000,4.052500,3.612000,1.460840e+05
50%,1901.000000,6.908000,5.890000,1.388504e+06
75%,1966.000000,12.771000,10.037500,6.600998e+06
max,2021.000000,47.183000,36.963000,7.909295e+09

In [12]:
unemployment_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58578 entries, 0 to 58577
Data columns (total 7 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Entity                                                                 58578 non-null  object
 1   Code                                                                   55049 non-null  object
 2   Year                                                                   58578 non-null  int64
 3   Unemployment, female (% of female labor force) (modeled ILO estimate)  6231 non-null   float64
 4   Unemployment, male (% of male labor force) (modeled ILO estimate)      6231 non-null   float64
 5   Population (historical estimates)                                      58252 non-null  float64
 6   Continent                                                              285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.1+ MB

In [13]:
unemployment_rate.shape

(58578, 7)

In [20]:
unemployment_rate.isna().sum()

Entity                                                                       0
Code                                                                      3529
Year                                                                         0
Unemployment, female (% of female labor force) (modeled ILO estimate)    52347
Unemployment, male (% of male labor force) (modeled ILO estimate)        52347
Population (historical estimates)                                          326
Continent                                                                58293
dtype: int64

In [69]:
mask_unemployment = unemployment_rate[~unemployment_rate["Unemployment, female (% of female labor force) (modeled ILO estimate)"].isnull()]
mask_unemployment.head()

,Entity,Code,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates),Continent
1,Afghanistan,AFG,1991,13.615,10.089,10745168.0,NaN
2,Afghanistan,AFG,1992,13.816,10.258,12057436.0,NaN
3,Afghanistan,AFG,1993,13.712,10.165,14003764.0,NaN
4,Afghanistan,AFG,1994,13.722,10.170,15455560.0,NaN
5,Afghanistan,AFG,1995,14.235,10.610,16418911.0,NaN

In [70]:
mask_unemployment.shape

(6231, 7)

In [71]:
mask_unemployment["Entity"].nunique()

201

In [72]:
mask_unemployment.columns

Index(['Entity', 'Code', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)', 'Continent'],
      dtype='object')

In [73]:
country_codes.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'region', 'sub-region'], dtype='object')

In [74]:
mask_unemployment = pd.merge(mask_unemployment, country_codes[['name', 'region', 'sub-region']], left_on="Entity", right_on='name', how='left')
mask_unemployment.head()

,Entity,Code,Year,"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)",Population (historical estimates),Continent,name,region,sub-region
0,Afghanistan,AFG,1991,13.615,10.089,10745168.0,NaN,Afghanistan,Asia,Southern Asia
1,Afghanistan,AFG,1992,13.816,10.258,12057436.0,NaN,Afghanistan,Asia,Southern Asia
2,Afghanistan,AFG,1993,13.712,10.165,14003764.0,NaN,Afghanistan,Asia,Southern Asia
3,Afghanistan,AFG,1994,13.722,10.170,15455560.0,NaN,Afghanistan,Asia,Southern Asia
4,Afghanistan,AFG,1995,14.235,10.610,16418911.0,NaN,Afghanistan,Asia,Southern Asia

In [75]:
mask_unemployment.columns

Index(['Entity', 'Code', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)', 'Continent', 'name', 'region',
       'sub-region'],
      dtype='object')

In [76]:
mask_unemployment = mask_unemployment[['Entity', 'Code', 'region', 'sub-region', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)']]
mask_unemployment.rename(columns={'Entity': 'country', 'Code': 'code', 'Year': 'year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)': 'female_unemployment',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)': 'male_unemployment',
       'Population (historical estimates)': 'population', 'region': 'continent'}, inplace=True)
mask_unemployment.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_18076\2613068579.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mask_unemployment.rename(columns={'Entity': 'country', 'Code': 'code', 'Year': 'year',

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0

In [77]:
mask_unemployment_africa = mask_unemployment[mask_unemployment["continent"] == "Africa"]

In [79]:
mask_unemployment_africa = mask_unemployment_africa.reset_index()

In [82]:
mask_unemployment_africa.columns

Index(['index', 'country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population'],
      dtype='object')

In [101]:
mask_unemployment_world = mask_unemployment[mask_unemployment["continent"] != "Africa"]
mask_unemployment_world.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0

In [99]:
national_strategy.columns

Index(['Entity', 'Code', 'Year',
       '8.b.1 - Existence of a developed and operationalized national strategy for youth employment, as a distinct strategy or as part of a national employment strategy - SL_CPA_YEMP'],
      dtype='object')

In [108]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population', 'Entity',
       'Year', 'national_strategy'],
      dtype='object')

In [107]:
temp = mask_unemployment.merge(
    national_strategy[['Entity', 'Year',
       '8.b.1 - Existence of a developed and operationalized national strategy for youth employment, as a distinct strategy or as part of a national employment strategy - SL_CPA_YEMP']], left_on=["country", "year"],
    right_on=["Entity", "Year"], how="left")
temp = temp.rename(columns={'8.b.1 - Existence of a developed and operationalized national strategy for youth employment, as a distinct strategy or as part of a national employment strategy - SL_CPA_YEMP': "national_strategy"})
temp = temp[['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population', 'Entity',
       'Year', 'national_strategy']]
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,Entity,Year,national_strategy
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN,NaN,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN,NaN,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN,NaN,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN,NaN,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN,NaN,NaN

In [104]:
temp.shape

(6231, 12)

In [110]:
national_strategy.shape

(363, 4)

In [112]:
temp = temp[['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population', 'national_strategy']]
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,national_strategy
0,Afghanistan,AFG,Asia,Southern Asia,1991,13.615,10.089,10745168.0,NaN
1,Afghanistan,AFG,Asia,Southern Asia,1992,13.816,10.258,12057436.0,NaN
2,Afghanistan,AFG,Asia,Southern Asia,1993,13.712,10.165,14003764.0,NaN
3,Afghanistan,AFG,Asia,Southern Asia,1994,13.722,10.170,15455560.0,NaN
4,Afghanistan,AFG,Asia,Southern Asia,1995,14.235,10.610,16418911.0,NaN

In [117]:
education.columns

Index(['Entity', 'Code', 'Year',
       'Government expenditure on education, total (% of government expenditure)'],
      dtype='object')

In [118]:
unemployment_rate.columns

Index(['Entity', 'Code', 'Year',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Population (historical estimates)', 'Continent'],
      dtype='object')

In [119]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population',
       'national_strategy'],
      dtype='object')

In [122]:
temp = temp.merge(education[['Entity', 'Year',
       'Government expenditure on education, total (% of government expenditure)']],
                 left_on=["country", "year"], right_on=["Entity", "Year"])
temp = temp.rename(columns={'Government expenditure on education, total (% of government expenditure)': 'education_expenditure'})
temp.head()

,country,code,continent,sub-region,year,female_unemployment,male_unemployment,population,Entity_x,Year_x,national_strategy,Entity_y,Year_y,education_expenditure
0,Afghanistan,AFG,Asia,Southern Asia,2005,14.303,10.630,24411196.0,Afghanistan,2005,NaN,Afghanistan,2005,15.08
1,Afghanistan,AFG,Asia,Southern Asia,2006,14.179,10.518,25442946.0,Afghanistan,2006,NaN,Afghanistan,2006,12.88
2,Afghanistan,AFG,Asia,Southern Asia,2007,14.417,10.717,25903306.0,Afghanistan,2007,NaN,Afghanistan,2007,12.36
3,Afghanistan,AFG,Asia,Southern Asia,2008,14.188,10.516,26427204.0,Afghanistan,2008,NaN,Afghanistan,2008,16.65
4,Afghanistan,AFG,Asia,Southern Asia,2009,14.440,10.728,27385310.0,Afghanistan,2009,NaN,Afghanistan,2009,17.31

In [121]:
temp.columns

Index(['country', 'code', 'continent', 'sub-region', 'year',
       'female_unemployment', 'male_unemployment', 'population', 'Entity',
       'Year', 'national_strategy'],
      dtype='object')

In [ ]:
mask_unemployment
mask_unemployment_africa
mask_unemployment_world